server {
  listen ${PORT};
  server_name _;

  root /usr/share/nginx/html;
  index index.html;

  location = /runtime-config.js {
    add_header Cache-Control "no-store";
    try_files /runtime-config.js =404;
  }

  location / {
    try_files $uri $uri/ /index.html;
  }
}
